/* ===== Products Section ===== */
.product-card {
  width: 300px;
  height: 390px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease;
  background-color: #fddddd;
}

.product-card .product-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* -webkit-line-clamp: 2; */
  -webkit-box-orient: vertical;
  max-height: 3.2em;
  font-size: 0.875rem;
  color: #444;
  margin-bottom: 0.5rem;
}

.product-desc a:hover {
  color: #a31515;
  text-decoration: underline;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image {
  width: 150px;
  height: 200px;
  object-fit: cover;
  transition: 0.3s ease-in-out;
}

.quick-view-btn {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: none;
}

.product-card:hover .quick-view-btn {
  display: block;
}


/* .product-card {
    transition: transform 0.3s ease;
  }
  
  .product-card:hover {
    transform: translateY(-5px);
  }
  
  .product-image-container {
    overflow: hidden;
    position: relative;
  }
  
  .product-image {
    width: 100%;
    height: 220px;
    object-fit: cover;
    transition: 0.3s ease-in-out;
  }
  
  .quick-view-btn {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: none;
  }
  
  .product-card:hover .quick-view-btn {
    display: block;
  }
   */