.testimonial {
    background-color: #fff5f8;
}
  
.testimonial-carousel-wrapper .carousel-item {
    transition: opacity 1s ease-in-out;
  }

@keyframes pulse {
    0% {
    transform: scale(1);
    opacity: 0.6;
    }
    50% {
    transform: scale(1.3);
    opacity: 1;
    }
    100% {
    transform: scale(1);
    opacity: 0.6;
    }
}

.animated-heart {
    animation: pulse 1.2s ease-in-out both;
    display: inline-block;
}
  